@import 'rootStyle.css';

.kolom {
    float: left;
    border: 5px solid white;
    padding: 5px 5px;
}

.left, .middle {
    width: 342px;
}

.right {
    width: 171px;
}

img {
    position: relative;
    top: 15px;
    left: 50px;
}

body {
    background: var(--green1);
    width: 1000px;
    margin: auto;
    color: var(--yellow);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.dobbelstenen {
    text-align: center;
}

section.scorekaart {
    background-color: black;
}

section.information {
    background-color: darkgray;
    padding: 80px 0px;
}

section.ads {
    background-color: gray;
    padding: 80px 0px;
}

input.dobbelsteen {
    background-color: var(--red1);
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

th {
    text-align: center;
}

input.categorie {
    text-align: left;
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    width: 210px;
    /*trial and error */
    border: none;
}

input.klikOmTeGooienKnop {
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 20px;
    width: 350px;
    padding: 10px 10px;
}

#remainingThrows {
    color: var(--yellow);
    font-size: 20px;
    padding: 5px 5px;
    text-align: center;
}

p.categorie {
    color: white;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}

tr:nth-child(2n+1) {
    background-color: var(--green2);
}

tr:nth-child(2n+2) {
    background-color: var(--green3);
}

#buttonOnes {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonThrees {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonFives {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonFourOfAKind {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonSmallStraight {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonYahtzee {
    background-color: var(--green3);
    padding: 5px 0px;
}

#buttonTwos {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonFours {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonSixes {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonThreeOfAKind {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonFullHouse {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonLargeStraight {
    background-color: var(--green2);
    padding: 5px 0px;
}

#buttonChance {
    background-color: var(--green2);
    padding: 5px 0px;
}

td>div {
    text-align: center;
}

footer {
    font-weight: bold;
    color: black;
}

input {
    cursor: pointer;
}

input:visited {
    color: var(--red2);
}

nav {
    padding: 10px 10px;
}

a:visited {
    color: var(--red2);
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
    background-color: var(--yellow);
}

h1 {
    font-size: 200%;
    color: var(--red1);
    text-align: center;
}

h1::first-letter {
    font-size: 150%;
}

h2 {
    color: var(--red1);
    text-align: center;
}

table {
    color: white;
    font-size: 16px;
}

input:disabled {
    color: var(--red1);
}

input:disabled:hover {
    cursor: initial;
}

#totalText {
    position: relative;
    left: 90px;
}

#annoyingLogo {
    position: fixed;
    top: 0;
    right: 0;
}

/*
#refThrowDice:hover {    
    klikOmTeGooienKnop.animation-name: colorChange;
    animation-duration: 1s;
    animation-iteration-count: 3;
}
*/


/* kan de eerste stoppen zodra button onclick() */

@keyframes colorChange {
    from {
        background-color: red;
    }
    to {
        background-color: black;
    }
}

input.klikOmTeGooienKnop {
    animation-name: colorChange;
    animation-duration: 1s;
    animation-iteration-count: 10;
}

h2::before {
    content: "• ";
}

h2::after {
    content: " •";
}

@keyframes titleChange {
    0% {
        font-size: 100%;
        opacity: 1;
        content: "Welcome to our implementation of ";
    }
    20% {
        font-size: 100%;
        opacity: 0.8;
        content: "Welcome to our implementation of ";
    }
    40% {
        font-size: 100%;
        opacity: 0.6;
        content: "Welcome to our implementation of ";
    }
    60% {
        font-size: 100%;
        opacity: 0.4;
        content: "Welcome to our implementation of ";
    }
    80% {
        font-size: 100%;
        opacity: 0.2;
        content: "Welcome to our implementation of ";
    }
    100% {
        font-size: 100%;
        opacity: 0;
    }
    100% {
        font-size: 100%;
        opacity: 0;
    }
}

#die1:hover {
    transform: translate(0px, -10px);
    opacity: 1;
}

#die2:hover {
    transform: translate(0px, -10px);
}

#die3:hover {
    transform: translate(0px, -10px);
}

#die4:hover {
    transform: translate(0px, -10px);
}

#die5:hover {
    transform: translate(0px, -10px);
}

/* gekopieerd hier hier hier*/

#status {
    margin-top: 20px;
    float: left;
    padding: 10px 10px;
    background-color: black;
    font-size: 50%;
    width: 342px;
}

#statusbar {
    vertical-align: middle; 
    white-space: nowrap;
    animation: typing 5s steps(40, end);
    letter-spacing: .1em;
    text-align: center;
}

#lowResolution {
    font-size: 50px;
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 500px;
    margin-right: 100px;
    margin-left: 100px;
}

@media only screen and (min-width: 1000px) {
    #lowResolution {
        display: none;
    }
}
